/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}
/*Dark green 3e8e41
Light green 4CAF50
dark 383736 */
.mashbut {
  display: inline-block;
  padding: 80px 0px 80px 0px;
  margin: 1%;
  width: 48%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: whitesmoke;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 9px #999;
  transition:         0.02s ease-in;
  -o-transition:      0.02s ease-in;
  -ms-transition:     0.02s ease-in;
  -moz-transition:    0.02s ease-in;
  -webkit-transition: 0.02s ease-in;
  z-index: 1;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.mashbut-reloading {
  display: inline-block;
  width:50%
  content: "";
  background: linear-gradient(to bottom, #383736 50%, #3e8e41 50%);
  background-size: 100% 200%;
  background-position:left bottom;
  background-color: #3e8e41;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition:         0.4s ease-in;
  -o-transition:      0.4s ease-in;
  -ms-transition:     0.4s ease-in;
  -moz-transition:    0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
}
.mashbut:active {
  background-color: #383736;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}
canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
} 
.weapselected {
  border-color: #4CAF50;
  border-style: solid;
}
